body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #483D8B;
    color: #fff;
}

.nav-logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.donate-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #e0f7fa;
    text-align: center;
    color: #483D8B;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #483D8B;
    color: #fff;
}

.about, .contact {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #483D8B;
}

.about h1, .contact h1, .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: #e0f7fa;
    text-align: center;
    color: #483D8B;
}

.about2 h2{
    font-size: 2rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    margin: 10px 0 5px;
    width: 100%;
    max-width: 500px;
}

.contact input, .contact textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.flex-container {
    display: flex; /* Enables flexbox on the row */
    justify-content: space-between; /* Distributes space between the columns */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
}

.col-lg-4 {
    flex: 1; /* Each column takes equal space */
    min-width: 200px; /* Minimum width for responsiveness */
    margin: 10px; /* Adds some spacing between the columns */
}

.spacing-left {
    padding: 10px; /* Adds padding around the content */
}

.space-below {
    margin-bottom: 20px; /* Adds space below each column */
}
